*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles
.idea/sonarlint
app/release/app-release.apk
app/release/output.json
.idea/vcs.xml
app/google-services.json
